@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Orbitron&family=Permanent+Marker&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

.maincontainer{
    background-image: url(./bg2.png);
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.itemscontainer{
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homophone-card {
  font-family: 'Permanent Marker', cursive;
  margin: 10px;
  position: relative;
  width: 500px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
h1 {
  font-family: Orbitron, arial;
  color: #fff;
}
.homophone-card:hover {
  transform: scale(1.05);
}

.homophone-card::before {
  content: attr(data-homophone);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #cfb284;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in-out;
}

.homophone-card:hover::before {
  opacity: 0.8;
}

.homophone-card::after {
  content: attr(data-word);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #4c4c4c;
  background-color: #ffefcb;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.homophone-card:hover::after {
  opacity: 1;
}

button {
  appearance: none;
  background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}


@media screen and (max-width: 480px) {
  .homophone-card{
    width: 50%;
    height: 50%;
  }
  
}

.changelvl{
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
  padding: 0;
  margin: 0;
}